*{margin: 0;padding: 0;}
body{background-color: #000000;}
section{width: 100vw;overflow: hidden;}

.box00{position: relative;width: 100vw;display: flex;justify-content: center;background-position: center;background-repeat: no-repeat;}
.box01{height: 1195px;background-color: #DCD9EA;}
.box02{height: 1152px;background-color: #E3E4E3;}
.box03{height: 1080px;background-color: #000000;}
.box04{height: 1945px;background-image: url('img/04bg.png');background-color: #98A4A8;}
.box05{height: 1532px;background-color: #D8D8D8;}
.box06{height: 1692px;background-color: #AAAAAA;}
.box07{height: 1275px;background-color: #D8D8D8;}
.box08{height: 1384px;background: linear-gradient(#0b012d 0%, #340753 100%);}
.box09{height: 2391px;background-color: #000000;}
.box10{height: 1195px;background-color: #0F0F0F;}
.box11{height:   99px;background-color: #000000;}

.sb00{width: 1920px;background-position: center;background-repeat: no-repeat;}
.sb01{height: 1195px;background-image: url('img/st05_01.png');}
.sb02{height: 1152px;background-image: url('img/st05_02.png');}
.sb03{height: 1080px;background-image: url('img/st05_03.png');}
.sb04{height: 1945px;background-image: url('img/st05_04.png');}
.sb05{height: 1532px;background-image: url('img/st05_05.png');}
.sb06{height: 1692px;background-image: url('img/st05_06.png');}
.sb07{height: 1275px;background-image: url('img/st05_07.png');}
.sb08{height: 1384px;background-image: url('img/st05_08.png');}
.sb09{height: 2391px;background-image: url('img/st05_09.png');}
.sb10{height: 1195px;background-image: url('img/st05_10.png');}
.sb11{height:   99px;background-image: url('img/st05_11.png');}


